@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    Ping test: <a href="/hc/ping">/hc/ping</a>
</div>
<div>
    Remote endpoint test: <a href="/hc/remote">/hc/remote</a>
</div>
<div>
    Health checks ui: <a href="/healthchecks-ui">/healthchecks-ui</a>
</div>